.card-menu {
    background-color: #fff;
    border: 1px solid #AFB9C8;
    height: 300px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    margin: 20px;
 }
 
 img {
    min-height: 220px;
    min-width: 340px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
 }
 
 .info-div {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .info-div button {
     cursor: pointer; 
 }

 .info-div h3{
     font-family: 'Anton', sans-serif;
     letter-spacing: 2px;
     margin: 0;
 }

 .card-menu h4 {
    background-color: #8D2828;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    color: #fff;
    cursor: pointer; 
    padding: 5px;
    border-radius: 7px;
    margin: 10px;
 }

 .card-menu h4:hover {
    color: #57CC99;
 }

 @media (min-width: 1024px){
     .card-menu {
    background-color: #fff;
    border: 1px solid #AFB9C8;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    margin: 20px;
 }
 
 img {
    min-height: 220px;
    min-width: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
 }

 }