.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  
  h1 {
    margin: auto;
  }
  
  .slide-div {
    display: flex;
    flex-direction: row;
  }

  .deal-log {
      font-family: 'Anton', sans-serif;
      background-color: #fff;
      padding-left: 20px;
  }
  
  .deal-log h3 {
      color: #000;
  }

  
  .left-arrow {
    font-size: 40px;
    z-index: 1;
    position: absolute;
    top: 95%;
    left: 32px;
    color: #fff;
    cursor: pointer;
  }
  
  .right-arrow {
    font-size: 40px;
    z-index: 1;
    position: absolute;
    top: 95%;
    right: 32px;
    color: #fff;
    cursor: pointer;
  }
  
  .slide-show {
    overflow: hidden;
    margin: auto;
  }
  
  .img {
    max-height: 350px;
    max-width: 380px;
    min-height: 350px;
    min-width: 380px;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .deal-info-box {
      background-color: #fff;
      width: 380px;
      height: 340px;
  }

  .deal-info-box h3 {
      margin: 0;
      padding: 20px;
      color: #8D2828;
      font-family: 'Anton', sans-serif;
      font-size: 30px;
  }

  .deal-info-box p {
    margin: 0;
    padding: 20px;
    color: #8D2828;
    font-family: 'Anton', sans-serif;
  }

  .deal-info-box h4{
    color: #8D2828;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    font-size: 40px;
    margin: 0;
  }

  @media (min-width: 768px){
    .left-arrow {
        font-size: 40px;
        color: #000;
      }
      
      .right-arrow {
        font-size: 40px;
        color: #000;
      }

      .img {
        max-height: 380px;
        max-width: 420px;
        min-height: 380px;
        min-width: 500px;
      }

      .deal-info-box {
        background-color: #fff;
        width: 420px;
        height: 340px;
    }
  
    .deal-info-box h3 {
        margin: 0;
        padding: 20px;
        color: #8D2828;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }
  
    .deal-info-box p {
      margin: 0;
      padding: 20px;
      color: #8D2828;
      font-family: 'Anton', sans-serif;
    }

    .deal-info-box h4{
      color: #8D2828;;
      font-family: 'Anton', sans-serif;
      padding: 20px;
    }

  }

  @media (min-width: 1024px){
    .slide {
        transition-duration: 1s ease;
        display: flex;
        flex-direction: row;
      }
      
      .slide.active {
        display: flex;
        flex-direction: row;
      }

      .deal-info-box {
        width: 440px;
        height: 366px;
    }

    .deal-info-box p {
        margin: 0;
        padding: 20px;
        color: #8D2828;
        font-family: 'Anton', sans-serif;
        max-width: 300px;
      }

      .img {
        max-height: 380px;
        max-width: 400px;
        min-height: 380px;
        min-width:430px;
      }

      .deal-log {
       display: flex;
       flex-direction: row; 
       padding-top: 10px;
       padding-bottom: 10px;
    }

    .deal-log h3 {
       font-size: 35px;
       margin: 7px;
    }

  }
  