.footer-div {
    background-color: #eef2f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social-icon {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.social-icon .fab {
  margin: 10px;
}

.copyright-div {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.footer-links {
 display: grid;
 grid-template-columns: 50% 50%;
 
}

.links-box a {
    padding: 5px;
    color: #8D2828;
}

.links-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px){

    .social-icon {
        
    }


    .footer-links {

    }
    
    .footer-links a {
  
    }
}